*{
  padding: 0px;
  margin: 0px;
}

body{
    font-family: Helvetica, Arial,  sans-serif;
}

@media only screen and (max-width: 480px){

  header{
    width: 480px;
    height: 710px;
  }

  .header1{
    width: 480px;
    height: 85px;
    background-color: #00aaaa;
  }

  #logo{
    position: relative;
    width: 39vw;
    left: 28vw;
  }

  #home{
    position: relative;
    width: 7,8vw;
    left: 400px;
    bottom: 84px;
  }

   /* --------------------------------------------------MENU--------------------------------------------------------------*/

    #menu{
      position: relative;
      right: 10px;
      top: -154px;
      width: 36px;
      height: 36px;
    }

    input{
      position: absolute;
      right: 84vw;
      top: 30px;
      width: 30px;
      height: 30px;
      opacity: 0;
    }

    nav{
      position: absolute;
      width: 270px;
      height: 420px;
      bottom: 125px;
      left: -270px;
      border-radius: 10px;
      background-color: #00aaaa;
      transition: all .5s;
      z-index: 1;
    }

    input[type="checkbox"]:checked ~ nav{
      transform: translateX(270px);
    }

    ul{
      position: absolute;
      top: 0px;
      width: 100%;
    }

    a{
      display: block;
      padding: 20px 10px;
      color: #ffffff;
    }

    label{
      padding: 15px;
      position: absolute;

    }

    ul h2{
      position: relative;
      top: 18px;
      left: 20px;
      color: #ffffff;
    }

    #pesquisa{
      position: relative;
      left: 15px;
      bottom: 35px;
    }

    .pesquisa{
      position: relative;
      left: 45px;
      top: 15px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    #carrinho{
      position: relative;
      left: 15px;
      bottom: 80px;
    }

    .carrinho{
      position: relative;
      left: 45px;
      bottom: 30px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    #instituicoes{
      position: relative;
      left: 15px;
      bottom: 120px;
    }

    .instituições{
      position: relative;
      left: 47px;
      bottom: 70px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    #ongs{
      position: relative;
      left: 15px;
      bottom: 160px;
    }

    .ongs{
      position: relative;
      left: 50px;
      bottom: 115px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    ul hr{
      position: relative;
      width: 245px;
      height: 1px;
      bottom: 140px;
      left: 10px;
      background-color: #ffffff;
      color: #ffffff;
    }

    #ajuda{
      position: relative;
      left: 15px;
      bottom: 185px;
    }

    .ajuda{
      position: relative;
      left: 50px;
      bottom: 137px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    #config{
      position: relative;
      left: 15px;
      bottom: 235px;
    }

    .config{
      position: relative;
      left: 50px;
      bottom: 187px;
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
    }

    /* -----------------------------------------------PRODUTO----------------------------------------------------------*/

  h1{
    display: block;
    position: absolute;
    width: 60vw;
    height: 65px;
    top: 150px;
    left: 80px;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    color: #007e7e;
  }

  .cta p{
    display: block;
    position: absolute;
    width: 300px;
    height: 250px;
    top: 280px;
    left: 11vw;
    text-align: center;
    padding: 26px;
    background-color: #c5c5c5;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: 10px;
  }

  .cta button{
    position: relative;
    width: 290px;
    height: 45px;
    left: 85px;
    bottom: 200px;
    font-size: medium;
    background-color: #F59A23;
    color: #ffffff;
    border: none;
    border-radius: 10px;
  }

  .produto{
    width: 480px;
    height: 990px;
    background-color: #00aaaa;
  }

  .produto h2{
    display: block;
    position: absolute;
    left: 25px;
    margin-top: 35px;
    font-size: 1.9rem;
    color: #ffffff;
  }

  .produto p{
    display: block;
    position: relative;
    width: 17vw;
    padding: 45px;
    left: 320px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
  }

  #produto{
    position: relative;
    width: 25vw;
    left: 40px;
    top: 10px;
  }

  #heart{
    position: relative;
    bottom: 165px;
    left: 55px;
  }

  .camiseta{
    position: relative;
    width: 215px;
    height: 400px;
    left: 9px;
    bottom: 10px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .camiseta h3:nth-child(5){
    display: block;
    position: relative;
    width: 1px;
    bottom: 80px;
    padding-left: 20px;
    font-size: 1.0rem;
    color: #333333;

  }

  .camiseta p del{
    display: block;
    position: relative;
    right: 345px;
    bottom: 220px;
    font-size: 1.0rem;
    font-weight: lighter;
    color: #333333;
  }

  .camiseta h3:nth-child(9){
    display: block;
    position: relative;
    left: -1px;
    bottom: 385px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: #333333;
  }

  .camiseta h3:nth-child(10){
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    bottom: 407px;
    left: 110px;
    text-align: center;
    font-size: 1.0rem;
    background-color: #D70808F5;
    color: #ffffff;
    border-radius: 5px;
  }

  .camiseta button{
    position: relative;
    width: 180px;
    height: 40px;
    bottom: 495px;
    left: 20px;
    font-size: 1.0rem;
    text-align: center;
    font-weight: bold;
    background-color: #00aaaa;
    color: #ffffff;
    border-radius: 20px;
    border: none;
  }

  #produto2{
    position: relative;
    width: 35vw;
    left: 23px;
    top: 30px;
  }

  #heart2{
    position: relative;
    bottom: 105px;
    left: 8px;
  }

  .produto2{
    position: relative;
    width: 215px;
    height: 400px;
    left: 9px;
    bottom: -2px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .produto2 h3:nth-child(5){
    display: block;
    position: relative;
    width: 1px;
    bottom: 60px;
    padding-left: 20px;
    font-size: 1.0rem;
    color: #333333;
  }

  .produto2 p del{
    display: block;
    position: relative;
    right: 345px;
    bottom: 200px;
    font-size: 1.0rem;
    font-weight: lighter;
    color: #333333;
  }

  .produto2 h3:nth-child(9){
    display: block;
    position: relative;
    left: -1px;
    bottom: 365px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: #333333;
  }

  .produto2 h3:nth-child(10){
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    bottom: 387px;
    left: 110px;
    text-align: center;
    font-size: 1.0rem;
    background-color: #D70808F5;
    color: #ffffff;
    border-radius: 5px;
  }

  .produto2 button{
    position: relative;
    width: 180px;
    height: 40px;
    bottom: 475px;
    left: 20px;
    font-size: 1.0rem;
    text-align: center;
    font-weight: bold;
    background-color: #00aaaa;
    color: #ffffff;
    border-radius: 20px;
    border: none;
  }

  #produto3{
    position: relative;
    width: 25.5vw;
    left: 48px;
    top: 30px;
  }

  #heart3{
    position: relative;
    bottom: 120px;
    left: 53px;
  }

  .produto3{
    position: relative;
    width: 215px;
    height: 400px;
    left: 235px;
    bottom: 398px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .produto3 h3:nth-child(5){
    display: block;
    position: relative;
    width: 1px;
    bottom: 60px;
    padding-left: 20px;
    font-size: 1.0rem;
    color: #333333;
  }

  .produto3 p del{
    display: block;
    position: relative;
    right: 345px;
    bottom: 200px;
    font-size: 1.0rem;
    font-weight: lighter;
    color: #333333;
  }

  .produto3 h3:nth-child(9){
    display: block;
    position: relative;
    left: -1px;
    bottom: 365px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: #333333;
  }

  .produto3 h3:nth-child(10){
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    bottom: 387px;
    left: 110px;
    text-align: center;
    font-size: 1.0rem;
    background-color: #D70808F5;
    color: #ffffff;
    border-radius: 5px;
  }

  .produto3 button{
    position: relative;
    width: 180px;
    height: 40px;
    bottom: 475px;
    left: 20px;
    font-size: 1.0rem;
    text-align: center;
    font-weight: bold;
    background-color: #00aaaa;
    color: #ffffff;
    border-radius: 20px;
    border: none;
  }

  #produto4{
    position: relative;
    width: 35vw;
    left: 28px;
    top: 30px;
  }

  #heart4{
    position: relative;
    bottom: 98px;
    left: 5px;
  }

  .produto4{
    position: relative;
    width: 215px;
    height: 400px;
    left: 235px;
    bottom: 1210px;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .produto4 h3:nth-child(5){
    display: block;
    position: relative;
    width: 1px;
    bottom: 50px;
    padding-left: 20px;
    font-size: 1.0rem;
    color: #333333;
  }

  .produto4 p del{
    display: block;
    position: relative;
    right: 345px;
    bottom: 190px;
    font-size: 1.0rem;
    font-weight: lighter;
    color: #333333;
  }

  .produto4 h3:nth-child(9){
    display: block;
    position: relative;
    left: -1px;
    bottom: 355px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: #333333;
  }

  .produto4 h3:nth-child(10){
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    bottom: 377px;
    left: 110px;
    text-align: center;
    font-size: 1.0rem;
    background-color: #D70808F5;
    color: #ffffff;
    border-radius: 5px;
  }

  .produto4 button{
    position: relative;
    width: 180px;
    height: 40px;
    bottom: 465px;
    left: 20px;
    font-size: 1.0rem;
    text-align: center;
    font-weight: bold;
    background-color: #00aaaa;
    color: #ffffff;
    border-radius: 20px;
    border: none;
  }


/* ---------------------------------------------------ARTIGO------------------------------------------------------------*/

  .artigo{
    width: 480px;
    height: 650px;
    background-color: #f2f2f2;
  }  

  .artigo h2:nth-child(1){
    display: block;
    position: absolute;
    margin-top: 35px;
    left: 25px;
    font-size: 1.9rem;
    color: #333333;
  }

  .artigo p:nth-child(2){
    display: block;
    position: absolute;
    width: 15vw;
    right: 1px;
    margin-top: 45px;
    color: #333333;
  }

  #artigo{
    width: 80vw;
    margin-top: 110px;
    margin-left: 45px;
  }

  .puff h2{
    position: relative;
    width: 365px;
    height: 210px;
    bottom: 40px;
    margin-left: 45px; 
    padding: 10px;
    line-height: normal;
    font-size: 1.4rem;
    text-align: left;
    color: #ffffff;
    background-color: #00aaaa;
    border-radius: 10px;
  }

  .puff p{
    position: relative;
    width: 70vw;
    bottom: 190px;
    margin-left: 57px;
    font-size: 1.0rem;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
  }

  .puff a{
    position: relative;
    bottom: 190px;
    margin-left: 50px;
    font-size: 1.0rem;
    font-weight: bold;
    color: #ffffff;
  }

/* ---------------------------------------------------FOOTER------------------------------------------------------------*/

  footer{
    width: 480px;
    height: 470px;
    background-color: #00aaaa;
  }

  #ig{
    position: relative;
    top: 40px;
    margin-left: 20px;
  }

  #email{
    position: relative;
    top: 20px;
    margin-left: 20px;
  }

  .social-midia h3:nth-child(2){
    position: relative;
    top: 10px;
    margin-left: 65px;
    color: #ffffff;
  }

  .social-midia h3:nth-child(5){
    position: relative;
    bottom: 12px;
    margin-left: 65px;
    color: #ffffff;
  }

  .feedback h2{
    display: block;
    position: relative;
    top: 30px;
    margin-left: 20px;
    font-size: 1.7rem;
    color: #ffffff;
  }

  .feedback hr{
    position: relative;
    width: 480px;
    height: 1px;
    top: 50px;
    left: 0px;
    background-color: #ffffff;
    color: #ffffff;
  }

  .feedback h3{
    position: relative;
    top: 70px;
    margin-left: 20px;
    color: #ffffff;
  }

  .feedback textarea{
    position: relative;
    width: 416px;
    height: 120px;
    top: 80px;
    margin-left: 20px;
    padding-top: 5px;
    color: #333333;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
  }

  .feedback button{
    position: relative;
    width: 150px;
    height: 45px;
    top: 90px;
    margin-left: 287 px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #00aaaa;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    border-style: double;
    border-radius: 10px;
  }
}


@media only screen and (max-width: 480px){
}
